@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@300&display=swap');


.mission-home {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(0, 0, 0, 0.438);
  }
  
  .mission-home:before {
    content: '';
    position: absolute;
    background: url('../../assets/mission-home-min.webp') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-attachment: fixed;
  }

  .mission-home .mission-home-content  {
    top: 25%;
    padding: 3rem 1rem;
  }



.mission-home .mission-home-content h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.5rem;
    text-align: left;
}

.mission-home .mission-home-content p {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    color: rgb(255, 255, 255);
    padding: .5rem 0;
}

.mission-home .mission-home-content ul {
  list-style-type: disc;
  padding: 0 1rem;
}



@media screen and (max-width:940px) {


    .mission-home .mission-home-content h1 {

        font-size: 1.5rem;
    }

    .mission-home h2 {
        font-size: 2rem;
    }

    }
